body {
    line-height: 1.5em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #1d8ab8;
    background-color: white;
    background-image: linear-gradient( 135deg, #4fa9d372 10%, #e0ed9864 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a {
    color: red;
}
header {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    color: white;
    background-size: 100% 100%;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .14), 0 7px 5px -6px rgba(0, 0, 0, .2), 0 5px 9px 0 rgba(0, 0, 0, .12);
}
.error{
    color: #ff7f27;
}
.iconTitle{
    color: #ff7f27;
}
#title {
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
    color: #ff7f27;
    padding-top: 5%;
    padding-bottom: 15%;
    font-size: 3.5em;
}
#shoppingDiv{
   width: 60%;
   margin: auto;
   margin-bottom: 100px;
}
.subtitle {
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
    color: #ff7f27;
    padding-bottom: 1%;
    font-size: 2em; 
}

#selectState {
    margin-top: 10px;
}

#cityInputDiv {
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}

#cityInputForm {
    padding: 0px 30px;
}

.resultTable {
    /* min-width: 380px; */
    margin-left: 1.5%;
    margin-right: 1.5%;
   padding-left: 30px;
    padding-right: 30px; 
}

#cityWeather {
    margin-left: 20%;
    margin-right: 20%;
}

#campsiteList {
    margin: 10px auto;
}

#apiResult {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
}

.card-content {
    background-color: #e0ed98;
}

label {
    color: #9db420;
}

form {
    margin: 10px auto;
}

thead {
    width: 100%;
    background-color: #8cc8e2;
    color: white;
}
.pagination {
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
    color: #ff7f27;
    margin: auto;
}

.testing-scroll {
    overflow: scroll ;
    height: 407px;
}

/* footer */


/* sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    z-index: 99999999;
    background-color: #8cc8e2;
    color: gray;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page-footer a:link,
a:visited {
    color: gray;
}

.copy {
    padding: 5px;
}

.social {
    padding: 5px;
    margin: 0 auto;
}

.hide {
    visibility: hidden;
}

.productTitle {
    font-weight: bold;
    font-size: 20px;
}



@media (max-width: 990px) {}

@media (max-width: 375px) {
    body {
        font-size: 1em;
    }
    .x12 {
        width: 100%;
    }
    .page-footer {
        display: none;
    }
    #title {
        padding-top: 0;
        font-size: 2.8em;
    }
    .subtitle {
        font-size: 1.2em;
        text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
    }
    #city-input {
        min-width: 300px;
    }
    #zip-input {
        min-width: 100px;
    }
    #cityInputDiv {
        margin: 0 auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    #apiResult {
        margin: 0 auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    .resultTable {
        
        margin-left: 1%;
        margin-right: 1%;
        padding: 0px; 
    }
    .wtd {
       width: 170px; 
        width: 45vw;
    }
    .ctd {
        width: 44vw; 
        overflow: scroll;
    }
    #shoppingDiv{
        margin-bottom: 10px;
        width: 90%;
}
}
